#quiz-container {
    max-width: 600px;
    margin: auto;
    font-family: Arial, sans-serif;
}

.siteName {
    font-size: 36px; 
    font-weight: bold;
    margin: 0;
    color: #5ca6c3;
    text-align: center;
}

.question {
    margin-bottom: 20px;
}

.answers {
    list-style-type: none;
    padding: 0;
}

.answer {
    margin: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
    transition: box-shadow 0.3s ease, border 0.3s ease;
    background-color: #fff; 
}

.answer:hover {
    box-shadow: 0 0 10px rgba(56, 53, 53, 0.8);
    border: 1px solid rgba(56, 53, 53, 0.8); 
}

.correct-answer {
    background-color: #b7e1a1;
}

.incorrect-answer {
    background-color: #e1a1a1;
}

button {
    padding: 10px 15px;
    font-size: 16px;
    margin: 5px;
    position: relative;
    cursor: pointer;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #2980b9;
}

#navigation-container {
    text-align: center;
    margin-top: 20px;
}

.question-container {
    margin-bottom: 20px;
    border: 2px solid #3498db;
    border-radius: 10px;
    padding: 10px;
    background-color: #eaf5fe;
}

.question {
    margin-bottom: 10px;
}

img {
    width: 100%;
  }